body{
  margin: 0 auto;
  margin-top: 30px;
  background-color: #FFF2F2;
  color: #000;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
nav{
  margin: 0 auto;
  margin-bottom: 0px !important;
}
hr{
    border-top: 1px solid #00989D;
    width: 80%;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: #00989D !important;
  text-decoration: none;
}
a:visited{
  color: color: #00989D ;
}
p{
  font-size: 1.3em;
  color: #4D4D4D;
}


/************** classes****************/
.polygon{
    width: 100%;
    height: 480px;
    margin: 0 auto;
    /*background: url('../img/img/home1.png');*/
    background-size: cover;
    background-position: 20% 20%;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 74%);
    color: #fff;
    position: relative;
    top: -20px;
    margin-bottom: 6%;
  }
  .polygon-home{
  background: url('../img/img/home1.png');
  background-size: cover;
  background-position: 20% 20%;
  background-repeat: no-repeat;
  }
  .polygon-about-us{
    background: url('../img/img/aboutUs.png');
    background-size: cover;
    background-position: 20% 20%;
    background-repeat: no-repeat;
  }
  .polygon-title{
    position: relative;
    top: 40%;
  }
  .polygon-contact{
    background: url('../img/img/contactUs.png');
    background-size: cover;
    background-position: 20% 20%;
    background-repeat: no-repeat;
  }
  .polygon-services{
    background: url('../img/img/service.png');
    background-size: cover;
    background-position: 20% 20%;
    background-repeat: no-repeat;
  }

  .polygon-references{
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }
  .polygon-references .content{
    position: relative;
    top: 130px;
    margin: 0 auto;
    text-align: justify;
    width: 78%;
  }
  .polygon-references .content h1{
    font-weight: bold;
    font-size: 3em;
    color: #00989D;
    text-align: center;
  }
  .polygon-references .content .testimonials-text{
    margin-top: 5%;
  }
  .polygon-references .content .testimonials-text .quotation-mark{
    position: relative;
    bottom: 20px;
  }

  .polygon h1{
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;
  }
  .polygon .content{
    position: absolute;
    margin: 0 auto;
    left: 20%;
    top: 20%;
  }
  .polygon .content a{
    margin-left: 10%;
  }
  .polygon-blue{
    background-color: #00989D;
    color: #fff;
      padding-top: 20%;
clip-path: polygon(0 39%, 100% 0, 100% 100%, 0 100%);
  }
  .polygon-white{
    background-color: #fff;
  }
  .reference-picture{
    background: url('../img/img/references.png');
    background-size: cover;
    background-position: 20% 20%;
    background-repeat: no-repeat;
    height: 400px;
  }
  .reference-picture h3{
    font-size: 3em;
    position: relative;
    top: 35%;
    left: 40%;
  }



.name{
  font-weight: bold;
  color: #00989D;
}
.team-description p{
  font-weight: 900;
  font-size: 1.8em;
  color: #4D4D4D;
  margin-top: 7%;
  margin-bottom: 7%;
}

/***********text****************/
.title{
  font-size: 3.2em;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -20%;
}
.text-blue{
  color: #00989D;
}
/************images style*********/
.face img{
  width: 50%;
  margin-bottom: 10%;
}
.partner-logo img{
  width: 50%;
  clear: both;
  margin-bottom: 20%;
}
.service-icon{
  width: 80px;
  height: 80px;
  display: block;
  position: relative;
  left: 25%;
  margin-bottom: 10%;
}
.service-icon.service-icon-translate{
  background: url('../img/services/service1.png') no-repeat;
  background-size: contain;
  background-position:top left;
}
.service-icon.service-icon-product{
  background: url('../img/services/service2.png') no-repeat;
  background-size: contain;
  background-position:top left;
}
.service-icon.service-icon-cart{
  background: url('../img/services/service3.png') no-repeat;
  background-size: contain;
  background-position:top left;
}
.service-icon.service-icon-book{
  background: url('../img/services/service4.png') no-repeat;
  background-size: contain;
  background-position:top left;
}
.service-icon.service-icon-language{
  background: url('../img/services/service5.png') no-repeat;
  background-size: contain;
  background-position:top left;
}
.service-icon.service-icon-trip{
  background: url('../img/services/service6.png') no-repeat;
  background-size: contain;
  background-position:top left;
}
.services-section.service-icon{
  width: 85px;
  height: 85px;
}

.service-icon-text{
  font-size: 1.3em;
}
.partner-icon{
  width: 120px;
  height: 120px;
  display: block;
  position: relative;
  margin-bottom: 10%;
}
.partner-icon-1{
  background: url('../img/partners/partner1.png') no-repeat;
  background-size: contain;
  background-position:top left;
}
.partner-icon-2{
  background: url('../img/partners/partner2.png') no-repeat;
  background-size: contain;
  background-position:top left;
}
.partner-icon-3{
  background: url('../img/partners/partner3.png') no-repeat;
  background-size: contain;
  background-position:top left;
}
.partner-icon-4{
  background: url('../img/partners/partner4.png') no-repeat;
  background-size: contain;
  background-position:top left;
}
.partner-icon-5{
  background: url('../img/partners/partner5.jpg') no-repeat;
  background-size: contain;
  background-position:top left;
}
.partner-icon-6{
  background: url('../img/partners/partner6.jpg') no-repeat;
  background-size: contain;
  background-position:top left;
}
.partner-icon-7{
  background: url('../img/partners/partner7.jpg') no-repeat;
  background-size: contain;
  background-position:top left;
}
.partner-icon-8{
  background: url('../img/partners/partner8.png') no-repeat;
  background-size: contain;
  background-position:top left;
}


.hohot-logo{
  width: 110px;
  height: 90px;
  position: relative;
  bottom: 50%;

  display: block;
  background: url('../img/icons/hohotlogo1.png') no-repeat;
  background-size: contain;
  background-position:top left;
}
.hohot-logo-text{
  width: 380px;
  height: 50px;
  display: block;
  background: url('../img/icons/hohotlogo2.png') no-repeat;
  background-size: cover;
}
.icon{
  width: 30px;
  height: 20px;
  display: block;
}
.icon-b{
  display: block;
  width:40px;
  height: 40px;
  margin: 0 auto;
}
.icon-message{
    background: url('../img/icons/icon-message.png');
    background-size: 20px;
    background-repeat: no-repeat;
}
.icon-message-b{
  background: url('../img/icons/icon-message-b.png');
  background-size: 40px;
  background-repeat: no-repeat;
}

.icon-world{
    background: url('../img/icons/icon-world.png');
    background-size: 20px;
    background-repeat: no-repeat;
}
.icon-world-b{
  background: url('../img/icons/icon-world-b.png');
  background-size: 40px;
  background-repeat: no-repeat;

}
.icon-telephone{
    background: url('../img/icons/icon-telephone.png');
    background-size: 20px;
    background-repeat: no-repeat;
}
.icon-telephone-b{
  background: url('../img/icons/icon-telephone-b.png');
  background-size: 40px;
  background-repeat: no-repeat;
}
.icon-linkedin{
    background: url('../img/icons/icon-linkedin.png');
    background-size: 20px;
    background-repeat: no-repeat;
}
.icon-linkedin-b{
  background: url('../img/icons/icon-linkedin-b.png');
  background-size: 40px;
  background-repeat: no-repeat;
}


/*****buttons**********/
.btn{
  font-size: 1.4em;
  font-weight: bold;
  display: inline-block;
}
.btn-transparent-white{
  border: 2px solid #FFF;
  color: #fff;
}
.btn-transparent-blue{
  border: 2px solid #00989D;
  color: #00989D;
}

.btn-transparent-white:hover{
  background-color: #fff;
  color:  #00989D;
}
.btn-transparent-blue:hover{
background-color:#00989D;
color: #fff !important;
}
.btn-white{
  background-color: #fff;
  color: #00989D;
}
.btn-white:hover{
  background-color: transparent;
  border-color: #fff;
  color: #fff !important;
}
.btn-center{
  display: inline-block;
  float: left;
  position: relative;
  top: 40px;
  left: 50%;
}
/*************form************/
/*input[type="submit"]{
  background-color: transparent;
  font-weight: bold;
  text-align: center;
}*/

/********section styles***********/
section{
  padding-bottom: 4%;
}
section.picture{
clip-path: polygon(0 0, 100% 12%, 100% 93%, 0 75%);
width: 100%;
position: relative;
/*top: -80px;*/
padding-bottom: 0px;
position: relative;
bottom: 80px;
}
section.picture img{
  width: 100%;
  padding-top: 0px;
}
section.partner{

  background-color: #fff;
  width: 100%;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  padding-bottom: 10%;
}
section.partner h3{
 position: relative;
 top:180px;
}
section.partner .container{
  padding-top: 300px;
  padding-bottom: 150px;
}
section.team{
  padding-top: 8px;
}
section.testimonials{
  padding-bottom: 0;
}

section .testimonials-text h3, section.services h3{
    margin-bottom: 10%;
}
section.services{
  padding-bottom: 0px;
}
section.testimonials p{
  font-size: 1.8em;
  line-height: 120%;
  text-align: center;
  color: #fff;
}
section.services{
  position: relative;
  bottom: 100px;
}
section.services p{
  text-align: center;
}
section.services .service-icon-trip + p{
  text-align: left;
  position: relative;
  left: 10%;
}
section.services img{
  padding-bottom: 20px;
}
section.reference-projects-cases{
  background-color: #fff;
  padding-top: 200px;
}
section.reference-projects-cases img{
  width: 100%;
  margin: 0 auto;
}
section.reference-projects-cases .container{
  width: 80%;
}

section.reference-projects-cases .col,section.reference-projects-cases .col-md-2{
  /*width: 14%;*/
  padding: 0;
  margin-left:5%;
}
section.reference-projects-cases .case-no{
  font-size: 2.3em;
  font-weight: bold;
  color: #00989D;
  float:
}
section.reference-projects-cases .btn{
  display: block;
  /*margin: 0 auto;*/
  width: 360px;
  margin-top: 4%;
  margin-bottom: 4%;

}

section.reference-projects-cases .case-content{
  width: 80%;
  float: right;
  position: relative;
  right:11%;
}
section.reference-projects-cases .case-content h4{
  color: #00989D;
  font-weight: bold;
  font-size: 1.3em;
}
section.picture h3{
  color: #fff;
}
section.picture.reference-picture{
  bottom: 0px;
  top: 0px;
  height: 600px;
  top: 148px;
}

section.services .col-md-4{
  height: 200px;
}
section.services-section img{
  width: 40%;
}
section.services-section h4{
  color: #00989D;
  font-weight: bold;
  font-size: 1.5em;
}

section.services-section{
  padding-bottom: 150px;
}
section.services-section .col-xs-12.col-sm-3.col-md-4.text{
  left: -6%;
}
section.consultants img{
  /*width:30%;*/
  margin: 0 auto;
  width: 40%;
  display: block;
}
section.consultants hr{
  width: 80%;
}

section.consultants ul li{
  list-style: none;
    margin: 0;
    padding: 0;
}
section.consultants ul li:before {
    content: "• ";
    color: #00989D; /* or whatever color you prefer */
    font-size: 20px;/* or whatever the bullet size you prefer */
}
section.consultants h4{
  color:  #00989D;
  font-weight: bold;
  font-size: 1.7em;
}
section.consultants a.btn-center{
  top: 100px;
}
section.contact-section-form {
  margin: 0 auto;
  width: 50%;
}
section.contact-section-form h3{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10%;
}
section.contact-section-form
input[type="text"],
section.contact-section-form
input[type="email"],
section.contact-section-form
input[type="tel"],
section.contact-section-form
textarea{
  border: none;
  text-align: left;
  width: 95%;
  padding: 20px;
  font-size: 1.2em;
}
section.contact-section-form
input[type="text"],
section.contact-section-form
input[type="email"],
section.contact-section-form
input[type="tel"]{
  height: 30px;
  padding: 20px 20px;
}
section.contact-section-form input[type="submit"]:hover{
  background-color: #00989D;
  color: #fff;
}

section.contact-section-form input[type="submit"]{
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  width: 10%;
  display: block;
  margin: 0 auto;
  width: 18%;
}

.testimonials-text{
  position: relative;
  width: 90%;
  top: -120px;
  padding-top: 120px;
}
.testimonials-text footer{
  color: #fff;
}
.quotation-mark{
  font-size: 4em;
  float: left;
}
.testimonials-text .author{
  text-align: right;
  font-size: 1.7em;
  margin-top: 10%;
}
section.info-section a{
  text-align: center;
  color: #000;
  font-size: 1.3em;
  position: relative;
  left: 20%;
}
section.info-section a:visited{
  color: #000;
}

/******footer***********/
footer{
  background-color: #4D4D4D;
  color: #fff;
}
footer a:hover{
  color: #00989D;
}
footer ul li{
  list-style: none;
  display: inline;
  margin-left: .6em;
}

footer .container{
  padding-bottom: 100px;
}
footer .contact-form p{
  font-size: 1.1em;
  text-align: right;
  position: relative;
  color: #fff;
  right: 20%;
}
footer .contact-info p{
  font-size: 1.2em;
  color: #fff;
}
footer .contact-icons p{

}
footer hr{
    border-top: 2px solid #fff;
    width: 55%;
    position: relative;
    right: 25%;
}

footer input[type="submit"]{
  background-color: #00989D;
  color: #fff;
  border: none;
  width: 20%;
  position: relative;
  font-size: 1em;
  text-align: center;
  left: 20px;
}
footer input.btn{
  display: block;
}
footer .footer-links ul li{
  margin-left: 2%;
}
input{
  text-align: right;
  font-size: 1.3em;
  margin-bottom: 14px;
  width: 320px;
  color: #4D4D4D;
}
textarea{
  width: 320px;
  color: #4D4D4D;
  text-align: right;
  font-size: 1.1em;
}
.contact-info, .contact-form{
  position: relative;
  top: 60px;
}
.contact-icons a{
  font-size: 1.2em;
}

/********nav ******/
.navbar-inverse{
  background-color: #4D4D4D;
  border-color: #4D4D4D;
}
.navbar-inverse .navbar-nav>li>a{
    background-color: #4D4D4D;
}


nav a{
  color: #fff !important;
}
nav ul li{
  font-size: 1.3em;
}
nav{
  /*background-color: # 4D4D4D !important;*/
  height: 50px;
}

.navbar-nav{
  margin-top: 0px;
}



/****media-query*********/
@media (max-width:774px){
  .navbar-inverse .navbar-nav>li>a:hover{
    background-color: #00989D;
    color: #fff !important;
  }
  input, textarea{
    width: 90%;
    position: relative;
    left: 14%;
  }
  section.info-section a{
    left: 0%;
  }
  section .testimonials-text h3, section.services h3{
    font-size: 1.5em;
  }
  .testimonials-text .author{
    font-size: 1em;
  }


    .polygon-white{
      padding-top: 20%;
    }
    .polygon{
      height: 450px;
      clip-path:polygon(0 0, 100% 0%, 100% 100%, 0 75%);
    }
    .polygon h1{
      position: relative;
      left: -2%;
      text-align: center;
      font-size: 2.1em;
    }
    .polygon-blue{
      clip-path:polygon(0 24%, 100% 0, 100% 100%, 0 100%);
      padding-top: 0px;
    }

    .polygon-references .content .testimonials-text{
      position: relative;
      top: -100px;
    }
    section.reference-projects-cases .btn{
      font-size: 1em;
    }
    section.partner{
      padding-top: 100px;
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%)
    }
    .partner img{
      margin: 0 auto;
      display: block;
      margin-bottom: 10%;
}
section.partner{
  clip-path:polygon(0 6%, 100% 0, 100% 100%, 0 100%);
}
section.partner h3{
  padding-top: 200px;
}
section.services-section .col-xs-12.col-sm-3.col-md-4.text{
  left: -8%
}
section.services-section img{
  width: 20%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2em;
}

section.services img{
  display: block;
  margin: 0 auto;
}
.service-icon-text {
  text-align: center;
}
    .testimonials-text{
      top: 0px;
      padding-top: 300px;
    }
.partner-icon{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 10%;
}
section.partner .btn-center{
  display: block;
  margin: 0 auto;
}

section.info-section a{
  display: block;
}
.service-icon{
  margin: 0 auto;
  margin-bottom: 2%;
  left: 0%;
}
section.services .service-icon-trip + p{
  text-align: center;
  left: 0;
}
section.reference-projects-cases img{
  width: 50%;
}
    .btn{
      display: inline;
       width: 80%;
       position: relative;
       top: 0px;
       font-size: 1.4em;

    }
    .btn-center{
      left: 0%;
      float: none;
      display: block;
      white-space: normal;
      margin: 0 auto;
      text-align: center;
    }
    .btn.btn-contact{
      position: relative;
      top: 20px;
      left: 5%;
    }
    .hohot-logo-text{
      width: 200px;
      height: 40px;
      background-size: 200px 40px;
    }
    .face img{
      display: block;
      margin: 0 auto;
      width: 30%;
    }
    .team .col-xs-12.col-sm-6.col-md-3 p{
      text-align: center;
    }
    section.consultants a.btn-center{
      top: 0px;
    }
    section.contact-section-form input[type="submit"]{
      width: 80%;
    }

    section.contact-section-form{
      width: 70%;
    }

    section.contact-section-form h3{
      text-align: center;
    }
    section.partner .container{
      padding-top: 100px;
    }
    .title{
      font-size: 2.8em;
    }
    .quotation-mark{
      font-size: 3em;
    }
    section.testimonials p{
      font-size:1em;
      position: relative;
      left: 5%;
    }
    section.partner h3{
      top: -20px;
    }
    section.picture h3{
      text-align: center;
      left: 0px;
    }
    section.consultants h4{
      text-align: center;
    }
    .testimonials-text{
      top: 0px;
      padding-top: 100px;
    }
    section.services-section .col-xs-12.col-sm-3.col-md-4.text{
      left: 10%;
      margin-bottom: 20%;
    }

  }
